
/*Navigation Styles*/
body{
  margin: 0;
  background-color: #8c8c8c;
}  
nav{
    background-color: #03725B;
  }
  .logo{
    width: 12%;
    display: inline-block;
    padding: 0px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    vertical-align: top;
  }

  li{
    float: right;
  }
  li a{
    display: block;
    text-decoration: none;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding: 12px;
    color:#fff;
    background-color: #03725B;
  }

  li a.active{
    color: #0BF8C6;
  }

  li a:hover{
    color: #0BF8C6;
  } 

  /* div .hide{
    opacity: 0;
    transition: all 1s;
    transform: translateX(0);
  } */

  .hide{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  

  .animate{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  /* div .animate{
    opacity: 1;
  } */

/*Mobile friendly Nav*/
  .fullnav ul{
    display: inline-block;
    width: 85%;
  }

  .mobilenav ul{
    display: block;
    width: 100%;
  }

  .fullnav li a{
    font-size: 14pt;
    width: fit-content;
    min-width: 180px;
  }

  .mobilenav{
    width: 100%;
  }

/*Dropdown*/
  .dropdown-content{
    display: none;
    position: absolute;
    z-index: 10;
  }

  .dropdown:hover .dropdown-content{
    display: block;
  } 

/*Body Content*/

  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: #000; 
    line-height: 1.7;
    margin: 20px;
  }

  h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25pt;
    color: #0BF8C6;
    background-color: #03725B;
    width: max-content;
    padding:10px;
    margin: 20px;
  }
  
/*Page cover photos and captions*/
  .backgroundLayer {
    display: inline-block; 
    box-sizing:border-box; 
    position: sticky;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size:100%;
  }

		
  .pageTitle {
    float: left;
    top: 100px;
    left: 40px;
    position: absolute;			
    box-sizing:border-box;
    background-color: #CB333B;
    box-shadow: 5px 5px 5px #383838;
  }

  .pageTitle h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #000033;
    padding-left: 30px;
    padding-right: 30px;
  }
		
  .aboutBlurb {
    float: left;
    position: absolute;
    box-sizing:border-box;
    background-color: #FFF;
    text-overflow: clip;
    
    padding: 25px;
    font-family:"Arial", "sans-serif";
    text-align: justify;
    color: #000033;
      box-shadow: 5px 5px 5px #383838;
  }

  .aboutBlurb p {
    font-family: "Arial", "sans-serif"; /*change*/
    color: #000;
  }

  .socials{
    padding-left: 40px;
}
.socials a{
    display: inline;
    padding: 0;
}

/*Media Queries*/
  /*Super Small screen sizes*/
  @media screen and (max-width: 649px){
    .mobilenav{
      display: block;
    }

    .fullnav{
      display: none;
    }

    .caption{
      width:100%;
      height: 400px;
    }

    .caption p{
      margin-top: .1em;
      font-size: 12px;
      line-height: 1.8;
    }

    .caption h2{
      font-size: 35px;
      margin-bottom: .1em;
    }

    .caption button{
      font-size: 12px;
    }

    .slide{
      width: 100%;
      overflow-x: hidden;
    }

    .slide img{
      height: 400px;
    }

    .slideshow-container{
      height: 400px;
    }

    .aboutBlurb
    {
      font-size: 12pt;
      width: 500px;
      top: 205px;
	    left: 80px;
    }

    .pageTitle{
      font-size: 16pt;
    }
  }
  /*Small screen sizes*/
  @media screen and (max-width: 885px) and (min-width: 650px){
    .mobilenav{
      display: block;
    }

    .slide img{
      height: 300px;
    }

    .slideshow-container{
      height: 300px;
    }

    .fullnav{
      display: none;
    }

    .caption{
      width:100%;
    }

    .caption p{
      margin-top: .1em;
      font-size: 12px;
      line-height: 1.8;
    }

    .caption h2{
      font-size: 50px;
      margin-bottom: .1em;
    }

    .caption button{
      font-size: 12px;
    }

    .aboutBlurb
    {
      font-size: 12pt;
      width: 500px;
      top: 205px;
	    left: 80px;
    }

    .pageTitle{
      font-size: 16pt;
    }
  }
  /*mid-sized screens*/
  @media screen and (min-width: 886px) and (max-width: 1170px) {
    .mobilenav{
      display: none;
    }

    .fullnav{
      display: block;
    }

    .slide img{
      width: 60%;
    }

    .slideshow-container{
      height: 250px;
    }

    .caption{
      height: 250px
    }

    .caption p{
      font-size: 15px;
      margin-top: .3em;
      line-height: 1.8;
    }

    .caption h2{
      font-size: 40px;
      margin-bottom: .3em;
    }

    .caption button{
      font-size: 12px;
    }

    .aboutBlurb
    {
      font-size: 15pt;
      width: 776px;
      top: 285px;
    	left: 80px;
    }

    .pageTitle{
      font-size: 24pt;
    }
  }

  /*Upper-mid screen sizes*/
  @media screen and (min-width: 1171px) and (max-width: 1500px){
    .mobilenav{
      display: none;
    }
    
    .fullnav{
      display: block;
    }

    .slide img{
      height: 200px;
    }

    .slideshow-container{
      height: 200px;
    }

    .caption{
      width:40%;
    }

    .caption p{
      font-size: 20px;
      margin-top: .5em;
      line-height: 1.8;
    }


    .caption h2{
      font-size: 70px;
      margin-bottom: .5em;
    }

    .caption button{
      font-size: 14px;
    }

    .aboutBlurb
    {
      font-size: 16pt;
      width: 845px;
      top: 285px;
	    left: 80px;
    }

    .pageTitle{
      font-size: 26pt;
    }
  }

  /*Large screen sizes*/
  @media screen and (min-width: 1501px){
    .mobilenav{
      display: none;
    }

    .fullnav{
      display: block;
    }
    .slideshow-container{
      height: 580px;
    }
    .slide img{
      height: 580px;
    }

    .caption{
      width:40%;
    }

    .caption h2{
      font-size: 80px;
      margin-bottom: .2em;
    }

    .caption p{
      font-size: 24px;
      margin-top: 2em;
      line-height: 2;
    }
    
    .caption button{
      font-size: 18px;
    }

    .aboutBlurb{
      font-size: 16pt;
      width: 1020px;
      top: 285px;
	    left: 80px;
    }

    .pageTitle{
      font-size: 26pt;
    }
  }

/*Footer Styles*/

  footer{
    background-color: #545454;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer ul{
    display: flex;
    justify-content: center;
  }
  
  



.copyright{
  text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    color:#fff;
}

footer li a{
  font-size: 14px;
}