.categoriesGallery{
  background-color: #272466;
  width: 100vw;
  left: 0;
  margin-left: 0;
  height: fit-content;
  display: flex;
}

.card{
  height: 42vh;
  max-width: 28%;
  overflow: hidden;
  margin: 2%;
  position: relative;
}

.card a{
  text-decoration: none;
  width: fit-content;
}

.card img{
  height: 100%;
}

.card h3{
  opacity: 0;
  color: #fff;
  background-color: #00000079;
  text-decoration: none;
  position: relative;
  z-index: 2;
  padding: 30px;
  bottom: 5.5em;
  transition: opacity .5s ease;
}

.card:hover h3{
  opacity:1;
}