/*Footer Styles*/

.footer {
  /* background-color: #545454; */
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  height: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer ul {
  display: flex;
  justify-content: center;
}

.copyright {
  text-align: center;
  font-family: Inter, Arial, Helvetica, sans-serif;
  padding: 12px;
  color: #fff;
  /* background-color: #03725B; */
}

.footer li a {
  font-size: 14px;
}

@media screen and (max-width: 885px) {
  .copyright{
    /* background-color: #545454; */
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
}
@media screen and (min-width: 886px) {
  .copyright{
    /* background-color: #545454; */
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
}