.scroller{
    height: 85vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    z-index: 8;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #272466;
    left: 0;
}

.projectsGallery{
  scroll-snap-align: start;
  background-color: #272466;
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 85vh;
  max-height: fit-content;
  position: relative;
  display: flex;
  vertical-align: middle;
}

.projectsGallery button{
  margin-top: 15%;
  height: 8em;
  background: none;
  border: none;
  border-radius: 1em;
  padding: 2em;
}

.projectsGallery button:hover{
  background: #01010177;
}

.card{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  scroll-snap-align: top;
}

.preview{
  transition: all 1s ease;
  transition-delay: 0.5s;
  height: 100%;
}

.full{
  /* margin: 0;
  padding: 0; */
  transition: all 1s ease;
  transition-delay: 0.5s;
}

.laptop{
  position: relative;
  transition: width 1s ease;
  transition: height 1s ease;
  transition-delay: 0.5s;
}
.video{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 90%;
  transition: all 1s ease;
  transition-delay: 0.5s;
}
.video iframe{
  margin-left: 2.5%;
  padding: 0;
  width: 100%;
}
.laptop img{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.laptop iframe{
  position: absolute;
  width: 70%;
  left: 15%;
  height: 80%;
  margin-top: 2vh;
  z-index: 4;
}


.info{
  /* margin-top: 10vh; */
  opacity: 1;
  padding: 5%;
  max-height: 30em;
  transition: all 1s ease;
  transition-delay: 0.5s;
}

.infoMinimized{
  transition: all 1s ease;
  transition-delay: 0.5s;
  padding: 5%;
  overflow: hidden;
  max-height: 30em;
}

.card video{
  width:100%;
}

.info h2, .info p{
  color: #fff;
  text-decoration: none;
  position: relative;
  background: none;
  transition: all 1s ease;
  transition-delay: 0.5s;
}

.infoMinimized h2, .infoMinimized p{
  transition: all 1s ease;
  transition-delay: 0.5s;
  overflow: hidden;
  color: #fff;
  background: none;
  text-decoration: none;
}

.caption{
  color: #8e8e8e;
  font-size: 10px;
  text-decoration: none;
  position: relative;
  z-index: 2;
  text-align: center;
}

.browse{
  scroll-snap-align: start;
  min-height: 80vh;
  max-height: fit-content;
}
.browse h2{
  margin-left: 1em;
}

.thumbnails{
  background-color: #272466;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* overflow-x: scroll; */
  overflow-y: hidden;
}

.thumbnails img{
  height: 15em;
  transition: height .5s ease;
  padding-left: 50px;
  padding-top: 20px;
}

.thumbnails img:hover{
  height: 20em;
}

  /*Small screen sizes*/
  @media screen and (max-width: 885px){
    .card{
      flex-direction: column;
    }
    .preview{
      width: 100%;
      height: 40vh;
      margin-top: 1vh;
    }
    .full{
      width: 100%;
      height: 40vh;
      margin-top: 1vh;
    }
    .laptop{
      height: 100%;
    }
    .info{
      max-width: 100%;
    }
    .infoMinimized h2, .infoMinimized p{
      width: 100%;
    }
    .infoMinimized{
      opacity: 1;
    }
  }
  /*mid-sized screens*/
  @media screen and (min-width: 886px) and (max-width: 1170px) {
    .card{
      flex-direction: column;
    }
    .preview{
      width: 100%;
      height: 50vh;
      margin-top: 1vh;
    }
    .full{
      width: 100%;
      height: 50vh;
      margin-top: 1vh;
    }
    .laptop{
      height: 100%;
    }
    .info{
      max-width: 100%;
    }
    .infoMinimized{
      opacity: 1;
    }
    .infoMinimized h2, .infoMinimized p{
      width: 100%;
    }
  }

  /*Upper-mid screen sizes*/
  @media screen and (min-width: 1171px) and (max-width: 1500px){
    .card{
      flex-direction: row;
    }
    .preview{
      width: 50%;
      height: 60vh;
      margin-top: 10vh;
    }
    .full{
      width: 100%;
      height: 75vh;
      transition: all 1s ease;
      transition-delay: 0.5s;
    }
    .laptop{
      max-width: 100%;
      max-height: 120%;
      aspect-ratio: 3.5/2;
    }
    .info{
      max-width: 50%;
    }
    .infoMinimized{
      opacity: 0;
    }
    .infoMinimized h2, .infoMinimized p{
      width: 0;
    }
  }

  /*Large screen sizes*/
  @media screen and (min-width: 1501px){
    .card{
      flex-direction: row;
    }
    .preview{
      width: 50%;
      height: 60vh;
      margin-top: 10vh;
    }
    .full{
      width: 100%;
      height: 75vh;
      transition: all 1s ease;
      transition-delay: 0.5s;
    }
    .laptop{
      max-width: 100%;
      max-height: 110%;
      aspect-ratio: 3.5/2;
    }
    .info{
      max-width: 50%;
    }
    .infoMinimized{
      opacity: 0;
    }
    .infoMinimized h2, .infoMinimized p{
      width: 0;
    }
  }