.projectsGallery{
  background-color: #272466;
  width: 100%;
  height: fit-content;
  display: flex;
  vertical-align: middle;
}

.projectsGallery button{
  margin-top: 15%;
  height: 8em;
  background: none;
  border: none;
  border-radius: 1em;
  padding: 2em;
}

.projectsGallery button:hover{
  background: #01010177;
}

.card{
  width: 100%;
  /* padding: 2% 10%; */
  position: relative;
  display: flex;
}

.preview{
  width: 50%;
  transition: width 1s ease;
}

.videoFull{
  width: 100%;
  transition: width 1s ease;
}

.info{
  display: block;
  padding-left: 5%;
  overflow: hidden;
  max-height: 30em;
}

.infoMinimized{
  display: none;
  padding-left: 5%;
  overflow: hidden;
  max-height: 30em;
  text-wrap: nowrap;
}

.card video{
  width:100%;
}

.info h2, .info p{
  color: #fff;
  text-decoration: none;
  position: relative;
  background: none;
}

.infoMinimized h2, .infoMinimized p{
  width: 0;
  overflow: hidden;
  color: #fff;
  background: none;
  text-decoration: none;
}

.caption{
  color: #8e8e8e;
  font-size: 10px;
  text-decoration: none;
  position: relative;
  z-index: 2;
}

.thumbnails{
  background-color: #272466;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* overflow-x: scroll; */
  overflow-y: hidden;
  height: fit-content;
}

.thumbnails img{
  height: 15em;
  transition: height .5s ease;
  padding-left: 50px;
  padding-top: 20px;
}

.thumbnails img:hover{
  height: 20em;
}