
@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-right {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  .scroller{
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    z-index: 8;
    position: fixed;
    background-color: #03725B;
  }
/*Page cover photos and captions*/
  .backgroundLayer {
    scroll-snap-align: start;
    display: inline-block; 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: 0;
    background-color: #03725c88;
    width: 100%;
    /* height: fit-content; */
    height: 85vh;
  }

  .pageTitle {
    animation: fade-left 1s ease;
    transition: all .5s linear;
    float: left;
    margin: 0;
    left: 40px;
    position: absolute;			
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #2FF8C9;
    text-shadow: 5px 5px 5px #333249;
  }
  .pageSubtitle {
    animation: fade-left 1s ease;
    transition: all .5s linear;
    float: left;
    margin: 0;
    left: 40px;
    position: absolute;			
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    /* text-shadow: 5px 5px 5px #333249; */
  }
		
  .headerImage{
    animation: fade-right 1s ease;
    transition: all .5s linear;
    float: right;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 3;
    filter: drop-shadow(5px 5px 5px #333249)
  }
  .backgroundImage{
    width: 100%;
    position:absolute;
    z-index: -5;
    opacity: 0.5;
    bottom: 0;
    left: 0;
  }

  .active{
    display: block;
    transform: translateX(0);
  }

  /* .references{
    margin-top: -1em;
    background-color: #272466;
    min-height: 20em;
    padding: 2%;
    z-index: 5;
  }
  .references p{
    color: #fff;
    font-size: 24pt;
    width: 80%;
    margin-left: 10%;
    text-align: center;
  } */
  .bio{
    padding: 5%;
    gap: 5%;
    display: flex;
    background-color: #272466;
    min-height: 85vh;
    max-height: fit-content;
    scroll-snap-align: start;
    z-index: 1;
    position: sticky;
  }
  .biotext{
    /* animation: fade-right 1s ease; */
    margin-top: 10vh;
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  .bio p{
    color: #fff;
  }
  .biotext.active{
    opacity: 1;
  }
  .bioimg{
    margin-top: 5vh;
    max-height: 60%;
    max-width: 20vw;
  }

  .bio a{
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }

  .resume{
    scroll-snap-align: start;
    padding-left: 5%;
    height: 85vh;
    background-color: #03725B;
    position: sticky;
    z-index: 3;
  }

  .pdf{
    height: 70vh;
    opacity: 0;
    transition: opacity 1s ease-in;
  }

  .pdf.active{
    opacity: 1;
  }

  .portfolio{
    /* margin-top: -1em; */
    scroll-snap-align: start;
    background-color: #272466;
    width: 100%;
    overflow-x: hidden;
    height: 80vh;
    padding: 2%;
    z-index: 5;
  }

  /*Small screen sizes*/
  @media screen and (max-width: 885px){
    .pageTitle{
      padding-left: 5vw;
      padding-top: 0;
      width: 80%;
      font-size: 15vw;
    }
    .pageSubtitle{
      display: none;
    }
    .headerImage{
      max-width: 85vw;
      max-height: 70vh;
    }
    .bio{
      display: block;
    }
    .biotext{
      margin-top: 0;
    }
    .resume{
      padding-left: 0;
    }
    .resume h2{
      padding-left: 1em;
    }
    .bio img{
      display: none;
    }
    .pdf{
      width: 90%;
      margin-left: 5%;
    }
  }
  /*mid-sized screens*/
  @media screen and (min-width: 886px) and (max-width: 1170px) {
    .pageTitle{
      padding-left: 5vw;
      padding-top: 5vh;
      width: 80%;
      font-size: 14vw;
    }
    .pageSubtitle{
      padding-left: 8vw;
      padding-top: 55vh;
      width: 60%;
      font-size: 2vw;
    }
    .headerImage{
      max-width: 50vw;
      max-height: 80vh;
    }
    .pdf{
      width: 80%;
      margin-left: 10%;
    }
  }

  /*Upper-mid screen sizes*/
  @media screen and (min-width: 1171px) and (max-width: 1500px){
    .pageTitle{
      padding-left: 5vw;
      padding-top: 5vh;
      width: 90%;
      font-size: 13vw;
    }
    .pageSubtitle{
      padding-left: 8vw;
      padding-top: 60vh;
      width: 70%;
      font-size: 2vw;
    }
    .headerImage{
      max-width: 40vw;
      max-height: 80vh;
    }
    .pdf{
      width: 70%;
      margin-left: 15%;
    }
  }

  /*Large screen sizes*/
  @media screen and (min-width: 1501px){
    .pageTitle{
      padding-left: 5vw;
      padding-top: 5vh;
      width: 80%;
      font-size: calc(min(12vw, 25vh));
    }
    .pageSubtitle{
      padding-left: 8vw;
      padding-top: 65vh;
      width: 80%;
      font-size: 2vw;
    }
    .headerImage{
      max-width: 40vw;
      max-height: 80vh;
    }
    .pdf{
      width: 60%;
      margin-left: 20%;
    }
  }