  /* Navigation Styles*/
  .nav{
    /* background-color: #03725B; */
    margin: 0;
    display: inline-block;
    width: 100vw;
    height: 15vh;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    vertical-align: top;
  }
  .nav li{
    float: right; 
    text-align: center;
  }
  .nav li a{
    display: block;
    text-decoration: none;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color:#fff;
    transition: color 1s ease;
    /* background-color: #03725B; */
  }
  .nav li a.active{
    color: #0BF8C6;
  }
  .nav li a:hover{
    color: #0BF8C6;
  } 

  /* Full-sized Navigation Styles */
  /* .fullnav{
    background-color: #03725B;
  } */
  .fullnav .logo{
    width: 10em;
    margin-top: 5vh;
    margin-left: 1vw;
    padding: 0px;
  }
  .fullnav ul{
    display: inline-block;
    width: 80vw;
  }
  .fullnav li a{
    font-size: 14pt;
    /* background-color: #03725B; */
    float: right;
    /* width: fit-content; */
    /* text-align: center; */
    /* min-width: 180px; */
  }
  .fullnav .socials{
    /* float: right; */
    /* margin-left: 5%; */
    display: flex;
    background: none;
    /* width: 15vw; */
}
.fullnav .socials a{
  padding: 2px;
  margin: 0;
}
.fullnav ul .dropdown{
  /* width: 25%; */
  padding: 8px 10% 8px 0;
  text-align: left;
  float: right;
  width: max-content;
}
.fullnav ul .dropdownContent{
  display: none;
  position: absolute;
  z-index: 10;
  text-align: left;
  width: inherit;
  top: 8vh;
  padding-top: 1em;
  margin-left: -1em;
}
  /* Mobile Navigation Styles */
  .mobilenav{
    background-color: #03725c00;
    width: 100%;
    height: 100%;
  }
  .mobilediv{
    display: flex;
    width: 100%;
    float: left;
  }
  .mobilenav .logo{
    width: 20%;
  }
  .mobilenav ul{
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .mobilenav li a{
    /* background-color: #03725ce1; */
    width: 100%;
  }
  .mobilenav a, .mobilenav .dropdown{
    width: 100%;
  }
  .mobilenav .socials{
    /* float: left; */
    display: flex;
    width: 100%;
    z-index: 20;
  }
  .sub{
    margin-left: 2em;
  }

.mobilenav .dropdown{
  /* width: 25%; */
  padding: 8px 5%;
  text-align: left;
  float: left;
  margin-left: 0;
  width: 100%;
}
  
  .mobilenav .dropdownContent{
    display: none;
    position: absolute;
    z-index: 10;
    text-align: left;
    width: inherit;
    padding-top: 1em;
    left: 0;
    top: 10vh;
  }
  .mobilenav .dropdownContent a{
    padding-left: 2.5em;
  }
  .dropdownContent a{
    padding: 1em;
  }

  .dropdown:hover .dropdownContent{
    display: flex;
    flex-direction: column;
  } 

/*Media Queries*/
  /*Super Small screen sizes*/
  @media screen and (max-width: 649px){
    .mobilenav{
      display: block;
    }

    .fullnav{
      display: none;
    }
  }
  /*Small screen sizes*/
  @media screen and (max-width: 885px) and (min-width: 650px){
    .mobilenav{
      display: block;
    }
    .fullnav{
      display: none;
    }
  }
  /*mid-sized screens*/
  @media screen and (min-width: 886px) and (max-width: 1170px) {
    .mobilenav{
      display: none;
    }

    .fullnav{
      display: block;
    }
  }

  /*Upper-mid screen sizes*/
  @media screen and (min-width: 1171px) and (max-width: 1500px){
    .mobilenav{
      display: none;
    }
    
    .fullnav{
      display: block;
    }

  }

  /*Large screen sizes*/
  @media screen and (min-width: 1501px){
    .mobilenav{
      display: none;
    }

    .fullnav{
      display: block;
    }
  }