.statisticsGallery {
  /* background-color: #272466; */
  width: 100%;
  margin-left: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card {
  /* height: 42vh; */
  overflow: hidden;
  /* margin: 2%; */
  transform: translateX(150px);
  
  opacity: 0;
  transition: all 0.5s ease;
}
.card h3 {
  color: #0bf8c6;
  text-decoration: none;
  z-index: 3;
  transition: opacity 0.5s ease;
  margin: 0;
  padding: 0;
}
.card p {
  color: #fff;
  text-decoration: none;
  z-index: 2;
  transition: opacity 0.5s ease;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.card.active1 {
  transform: translateY(0);
  opacity: 1;
}
.card.active2 {
  transform: translateY(0);
  transition-delay: 0.33s;
  opacity: 1;
}
.card.active3 {
  transform: translateY(0);
  transition-delay: 0.66s;
  opacity: 1;
}
.card.active4 {
  transform: translateY(0);
  transition-delay: 1s;
  opacity: 1;
}
.card.active5 {
  transform: translateY(0);
  transition-delay: 1.33s;
  opacity: 1;
}
.card.active6 {
  transform: translateY(0);
  transition-delay: 1.66s;
  opacity: 1;
}
/*Small screen sizes*/
@media screen and (max-width: 885px) {
  .statisticsGallery {
    justify-content:space-between;
  }
  .card {
    padding: 1.5em 6em;
  }
  .card h3 {
    font-size: 30px;
  }
  .card p {
    font-size: 12px;
  }
}
/*mid-sized screens*/
@media screen and (min-width: 886px) and (max-width: 1170px) {
  .card {
    padding: 3em 6em;
  }
  .card h3 {
    font-size: 40px;
  }
  .card p {
    font-size: 14px;
  }
}

/*Upper-mid screen sizes*/
@media screen and (min-width: 1171px) and (max-width: 1500px) {
  .card {
    padding: 3em 8em;
  }
  .card h3 {
    font-size: 48px;
  }
  .card p {
    font-size: 15px;
  }
}

/*Large screen sizes*/
@media screen and (min-width: 1501px) {
  .card {
    padding: 4em 8em;
  }
  .card h3 {
    font-size: 50px;
  }
  .card p {
    font-size: 15px;
  }
}
